{% extends 'base.html' %}

{% block content %}
    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <table>
        
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        <p>Kamu menyimpan {{total_amount}} item pada aplikasi ini.</p> 
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-3{% if forloop.last %} last-card{% endif %}">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">Amount: {{ item.amount }}</p>
                            <p class="card-text">Description: {{ item.description }}</p>
                            <p class="card-text">Price: ${{ item.price }}</p>
                            <p class="card-text">Date Added: {{ item.date_added|date:"Y-m-d" }}</p>
                            <a href="{% url 'main:add_item' item.id %}" class="btn btn-success btn-sm">Tambah</a>
                            <a href="{% url 'main:subtract_item' item.id %}" class="btn btn-warning btn-sm">Kurang</a>
                            <a href="{% url 'main:delete_item' item.id %}" class="btn btn-danger btn-sm">Hapus</a>
                            <a href="{% url 'main:edit_item' item.id %}" class="btn btn-primary btn-sm">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <style>
            .custom-card {
                height: 100%; /* Set a fixed height for all cards */
            }
            .last-card .card {
                background-color: goldenrod;
            }
        </style>



    

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
{% endblock content %}


